body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 100px;
}


table{
    
    width: 100%;
    border-collapse: collapse;
    margin-bottom: px;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 5px;
    text-align: center;
}

th {
    background-color: yellow;
    color: black;
}
