
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.hero_section{
    background-image: url(developer.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text_container{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
}

.lg_txt{
    font-size: 72px;
    font-weight: 400;
}

.visit{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20 0;
    font-size: larger;
}

.featured_section{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 40px;
    background-color: rgb(36, 44, 51);
   
    padding-bottom: 40px;
}


.profile_box{
    background-color: antiquewhite;
    border: 2px solid rgb(16, 189, 219);
    width: 400px;
    height: 300px;
    text-align: center;
    padding-top: 70px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.profile_box:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}
.profile_box h3 {
    font-size: 24px;
}

.profile_box p {
    font-size: 15px;
}

